@charset "UTF-8";

html{
  font-size: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  vertical-align: bottom;
}
li{
  list-style: none;
}
*{
  box-sizing: border-box;
}



h1{
  text-align: center;
  font-size: 2rem;
}
h2{
  text-align: center;
  margin-top: 200px;
}
p{
  text-align: center;
}
ul{
  /* text-align: center; */
}
li{
  margin-top: 50px;
  margin-left: 70px;
}
.container{
  margin: 0 auto;
  width: 400px;
}