@charset "UTF-8";

html{
  font-size: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  vertical-align: bottom;
}
li{
  list-style: none;
}
*{
  box-sizing: border-box;
}



h1{
  /* text-align: center; */
  font-size: 2rem;
  color: pink;
  margin-left: 200px;
}
p{
  /* text-align: center; */
  margin-left: 200px;
}